button {
  margin-top: 20px;
  border: none;
  background: linear-gradient(45deg, #79096d, #5500ff);
  color: white; /* Set text color */
  padding: 10px 20px; /* Add padding for better appearance */
  cursor: pointer; /* Add cursor on hover */

  border-radius: 20px;
}

button:hover {
  cursor: pointer;
}
